.row_name{
	margin-top: 8px;
	text-transform: uppercase;
	font-weight: 400;
}
.loadImg{
	margin-bottom: 20px;
	background-color: #fff;
}
input{
	border: 1px solid #a09798;
	padding-top: 5px;
	padding-bottom: 5px;
}