img{
	height: 100px;
	width: 100px;
}
.h4{
	margin-top: 0;
}
a.title{
	text-transform: uppercase;
}
.links{
	margin-top: 25px;
}
a.h4{
	margin-right: 25px;
}

header{
	margin-bottom: 25px;
}

.cartRow{
	margin-bottom: 20px;
}

.button{
	background-color: #726B6B;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
}
.withoutMargin{
	margin-right: 0;
	margin-left: 0;
}
.withPadding{
	padding-right: 15px !important;
	padding-left: 15px !important;
}